# **1.pymysql 모듈 이해 및 실습**

**Base**

In [1]:
!pip install pymysql
import pymysql

Requirement already satisfied: pymysql in c:\python38\lib\site-packages (1.1.0)

###  **1.1 mysql db client에서 ecommerce db만들고 시작**

In [2]:
#dbms 연결 코드
db = pymysql.connect(host='localhost', port=3306, user='root', password='toor',charset='utf8')
db

- db 생성
- cursor object 가져오기 : cursor=db.cursor()
- sql 실행하기 : cursor.execute(SQL)
- 실행 mysql서버에 확정 반영하기 : db.commit()

In [3]:
# Mysql접속이 성공하면, connection 객체로부터 cursor()메서드를 호출하여 cursor객체를 가져옴
cursor = db.cursor()
sql = 'create database IF NOT EXISTS ecommerce'
cursor.execute(sql)

1

In [4]:
sql = 'show databases'
cursor.execute(sql)
result = cursor.fetchall()
result

(('ecommerce',),
 ('information_schema',),
 ('market_db',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('shop_db',),
 ('sys',),
 ('tabledb',),
 ('world',))

In [5]:
# db변경
sql = 'use ecommerce'
cursor.execute(sql)

0

In [6]:
# 현재db 확인
sql = 'select database()'
cursor.execute(sql)
result = cursor.fetchone()
result

('ecommerce',)

**테이블 생성 SQL실행하기 : cursor.execute(SQL)**

**실행mysql 서버에 확정 반영하기 : db.commit()**

In [7]:
cursor

cursor은 control structure of database임(연결된 객체)

In [8]:
sql = """
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

**SQL실행 (cursor객체의 execute()메서드를 사용해 INSERT,UPDATE,DELETE 문장을 DB 서버에 보냄)**

In [9]:
cursor.execute(sql)

0

In [10]:
sql = 'show tables'
cursor.execute(sql)
result = cursor.fetchall()
result

(('product',),)

**삽입, 갱신, 삭제 등이 모두 끝났으면 Connection 객체의 commit() 메서드를 사용해 데이터를 Commit**

In [11]:
#연결 종료
db.close()

###  **1.2 패턴으로 익히는 pymysql**

In [12]:
# 1. 라이브러리 가져오기
import pymysql

In [13]:
# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='toor', db='ecommerce', charset='utf8')

In [14]:
# 3. 커서 가져오기
cursor = db.cursor()

In [15]:
create_table_sql = """
CREATE TABLE product2 (
    PRODUCT_CODE VARCHAR(20) NOT NULL,
    TITLE VARCHAR(200) NOT NULL,
    ORI_PRICE INT,
    DISCOUNT_PRICE INT,
    DISCOUNT_PERCENT INT,
    DELIVERY VARCHAR(2),
    PRIMARY KEY(PRODUCT_CODE)
);
"""

In [16]:
# 5. SQL 구문 실행하기
cursor.execute(create_table_sql )

0

In [17]:
# 6. DB에 complete 하기 (commit 항시 중요 ★★★★)
db.commit()

In [18]:
# 7. DB연결 닫기
db.close()

###  **1.3 데이터 삽입(INSERT)**
- Cursor Object 가져오기 : cursor = db.cursor()
- SQL 실행하기 : cursor.execute(SQL)
- 실행 mysql 서버 확정 반영하기 : db.commit()

In [19]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='toor', db='ecommerce', charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

In [20]:
for index in range(10):
    product_code = 216573140 + index + 1
    #print(product_code)
    sql = """INSERT INTO product2 VALUES(
    '""" + str(product_code)+  """', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'); """
    print(sql)
    cursor.execute(sql)

INSERT INTO product2 VALUES(
    '216573141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573148', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573149', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573150', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');

In [21]:
# 4. 입력된 데이터를 db서버에 확정 시키기
db.commit()

In [22]:
db.close()

###  **1.4 데이터 조회(SELECT)**
- Cursor Object 가져오기 : cursor = db.cursor()
- SQL 실행하기 : cursor.execute(SQL)
- 실행 mysql 서버 확정 반영하기 : db.commit()
- mysql서버로부터 데이터 가져오기 : fetch 메서드 사용 (fetch=가지고[데리고/불러] 오다)
    - fetchall() : Fetch all the rows
    - fetchmany(size=None):Fetch several rows
    - fetchone() : Fetch the next row

In [23]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='toor', db='ecommerce', charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

In [24]:
sql = "select * from product2"
cursor.execute(sql)

10

In [25]:
result = cursor.fetchone() # 현재 커서를 다음 레코드로 이동시키고 해당 레코드를 반환
result

('216573141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [26]:
result = cursor.fetchall()

In [27]:
result

(('216573142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573148', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573149', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573150', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [28]:
db.close()

###  **1.5 데이터수정(UPDATE)**
- Cursor Object 가져오기 : cursor = db.cursor()
- SQL 실행하기 : cursor.execute(SQL)
- 실행 mysql 서버 확정 반영하기 : db.commit()

- 216573141
- 하늘하늘 원피스 썸머 스페셜 가디건
- 33,000원
- 9,900원
- 70% 세일

UPDATE product2 SET 
    TITLE='하늘하늘 원피스 썸머 스페셜 가디건', 
    ORI_PRICE=33000, 
    DISCOUNT_PRICE=9900, 
    DISCOUNT_PERCENT=70 
    WHERE PRODUCT_CODE='21657';
"""

In [29]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='toor', db='ecommerce', charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

In [30]:
#4. SQL 구문 만들기
sql = """
UPDATE product2 SET 
    TITLE='하늘하늘 원피스 썸머 스페셜 가디건', 
    ORI_PRICE=33000, 
    DISCOUNT_PRICE=9900, 
    DISCOUNT_PERCENT=70 
    WHERE PRODUCT_CODE='216573141';
"""

In [31]:
# 5. Sql구문 실행하기
cursor.execute(sql)

1

In [32]:
# 6. commit()하기
db.commit()

In [33]:
# 7. update 확인
sql = "select * from product2 where product_code='216573141'"
cursor.execute(sql)
result = cursor.fetchone()
print(result)

('216573141', '하늘하늘 원피스 썸머 스페셜 가디건', 33000, 9900, 70, 'F')

In [34]:
db.close()

###  **1.6 데이터 삭제(UPDATE)**
- Cursor Object 가져오기 : cursor = db.cursor()
- SQL 실행하기 : cursor.execute(SQL)
- 실행 mysql 서버 확정 반영하기 : db.commit()

In [35]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='toor', db='ecommerce', charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

In [38]:
sql = "DELETE FROM product WHERE PRODUCT_CODE='216573141'"
cursor.execute(sql)
db.commit()
db.close()

In [41]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='toor', db='ecommerce', charset='utf8')


cursor = db.cursor()

SQL = "DELETE FROM product2 WHERE PRODUCT_CODE='216573141'"

cursor.execute(SQL)
result = cursor.fetchone()
print(result)
db.commit()
db.close()

None